/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
    margin: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navbar */
.navbar {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-text {
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.colored {
    color: #433838;
}

.links a {
    color:#333;
    text-decoration: none;
    margin-left: 20px;
}

/* About Section */
.about {
    margin-top: 40px;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
}

.profile-picture {
    max-width: 100%;
    border-radius: 50%;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
    line-height: 1.6;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
